<app-weather></app-weather>

<!--<mat-grid-list cols="2" rowHeight="220px" [ngStyle]="{backgroundColor:'black'}">-->
  <!--<mat-grid-tile>-->
    <!--<mat-card class="example-card">-->
      <!--<mat-card-header>-->
        <!--<mat-card-title>Scheduled: {{schedules[0].std}}</mat-card-title>-->
        <!--<mat-card-title>Estimated: {{schedules[0].etd}}</mat-card-title>-->
        <!--<mat-card-title>Platform: {{schedules[0].platform}}</mat-card-title>-->

        <!--<mat-card-title>Scheduled: {{schedules[1].std}}</mat-card-title>-->
        <!--<mat-card-title>Estimated: {{schedules[1].etd}}</mat-card-title>-->
        <!--<mat-card-title>Platform: {{schedules[1].platform}}</mat-card-title>-->
      <!--</mat-card-header>-->
    <!--</mat-card>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--<mat-card class="example-card">-->
      <!--<mat-card-header>-->
        <!--<mat-card-title>Cloudy</mat-card-title>-->
        <!--<mat-card-subtitle>Min: 5&deg;C Max: 10&deg;C</mat-card-subtitle>-->
      <!--</mat-card-header>-->
      <!--<img class="weather-icon" mat-card-md-image src="http://openweathermap.org/img/w/04n.png" alt="Cloudy">-->
      <!--<mat-card-content>-->
        <!--<p>-->
          <!--Overcast Clouds-->
        <!--</p>-->
      <!--</mat-card-content>-->
    <!--</mat-card>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile>-->
    <!--<mat-card class="example-card">-->
      <!--<mat-card-header>-->
        <!--<mat-card-title>Cloudy</mat-card-title>-->
        <!--<mat-card-subtitle>Min: 5&deg;C Max: 10&deg;C</mat-card-subtitle>-->
      <!--</mat-card-header>-->
      <!--<img class="weather-icon" mat-card-md-image src="http://openweathermap.org/img/w/04n.png" alt="Cloudy">-->
      <!--<mat-card-content>-->
        <!--<p>-->
          <!--Overcast Clouds-->
        <!--</p>-->
      <!--</mat-card-content>-->
    <!--</mat-card>-->
  <!--</mat-grid-tile>-->


  <!--<mat-grid-tile>-->
    <!--<mat-card class="example-card">-->
      <!--<mat-card-header>-->
        <!--<mat-card-title>Scheduled: {{schedules[0].std}}</mat-card-title>-->
        <!--<mat-card-title>Estimated: {{schedules[0].etd}}</mat-card-title>-->
        <!--<mat-card-title>Platform: {{schedules[0].platform}}</mat-card-title>-->

        <!--<mat-card-title>Scheduled: {{schedules[1].std}}</mat-card-title>-->
        <!--<mat-card-title>Estimated: {{schedules[1].etd}}</mat-card-title>-->
        <!--<mat-card-title>Platform: {{schedules[1].platform}}</mat-card-title>-->
      <!--</mat-card-header>-->
    <!--</mat-card>-->
  <!--</mat-grid-tile>-->



<!--</mat-grid-list>-->

